/* GRID */
$row-width: rem-calc(1180);
$column-gutter: rem-calc(20);
$total-columns: 12;

/* TYPOGRAPHY */
$body-font-family: "Lucida Grande", $body-font-family;
$header-font-family: $body-font-family;
